.header {
    background-color: #00000030;
    color: white;
    padding: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h1 {
    margin: 0;
    font-size: 60px;
}

.header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.header nav ul li {
    margin-right: 20px;
}

.header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 30px;
}

.header nav ul li a:hover {
    text-decoration: underline;
}

body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    background-color: #1e1e1e;
    color: white;
    margin: 0;
    padding: 0;
}

h1 {
    color: #046279;
    font-size: 50px;
}

h2 {
    font-size: 30px;
    text-align: right;
    margin-top: -500px;
    margin-right: 335px;
}

h3 {
    color: #046279;
    font-size: 50px;
    margin-top: 100px;
}

h4 {
    color: #046279;
    font-size: 50px;
    margin-top: 60px;
}

button {
    background-color: #046279;
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #03556a;
}

input, select {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

pre {
    display: block;
    background-color: #00000030;
    height: 385px;
    width: 500px;
    margin: -12vh 53vw;
    padding-top: 100px;
    text-align: center;
    border-radius: 10px;
    white-space: initial;
}

.login-form {
    margin: 0 5vmin;
    text-align: center;
    padding: 8pt;
}
.login-form input {
    display: block;
    margin: 5pt auto;
    padding: 6pt;
    border: none;
    border-radius: 5px;
    font-size: 15px;
}
.login-form button {
    padding: 10px;
    margin-top: 50px;
    background-color: #046279;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}
.login-form button:hover {
    background-color: #03556a;
}

.signup-form {
    margin: 0 5vmin;
    text-align: center;
    padding: 8pt;
}
.signup-form input {
    display: block;
    margin: 5pt auto;
    padding: 6pt;
    border: none;
    border-radius: 5px;
    font-size: 15px;
}
.signup-form button {
    padding: 10px;
    margin-top: 50px;
    background-color: #046279;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}
.signup-form button:hover {
    background-color: #03556a;
}

.lyrics-form {
    position: relative;
    display: block;
    background-color: #00000030;
    width: 350px;
    height: 400px;
    margin: 4vw;
    border-radius: 10px;
    text-align: left;
    padding: 5vh 5vw;
    margin-left: 200px;
    color: #ffffff;
}
.lyrics-form label {
    margin-top: 30px;
    display: flex;
    text-align: left;
    font-size: 30px;
    padding-bottom: 30px;
}
.lyrics-form select {
    display: flex;
    border: none;
    font-size: 20px;
    border-radius: 5px;
    background-color: #046279;
    color: #ffffff;
    margin-left: 12vw;
    margin-top: -60px;
    margin-bottom: 40px;
}
.lyrics-form input {
    background-color: #046279;
    color: #ffffff;
    display: block;
    margin-left: 12vw;
    margin-top: -62px;
    font-size: 15px;
}
.lyrics-form button {
    text-align: center;
    border-radius: 10px;
    font-size: 40px;
    margin-top: 100px;
}